body {
    font-family: 'Arial', sans-serif;
    background-color: #f30909;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #0894f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #090909;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #12dc4b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0ae356;
}

#error-message {
    color: red;
    margin-top: 10px;
}
